<configuration><configSections>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="Produccion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <userSettings>
        <Produccion.My.MySettings>
            <setting name="var_INTERVALOTIEMPO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="var_TOFF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="var_TOUT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="var_INTERVAL" serializeAs="String">
                <value />
            </setting>
        </Produccion.My.MySettings>
    </userSettings>
</configuration>